---
import { contactConfig } from '../config/site';

interface Props {
  currentPage?: string;
}

const { currentPage = '' } = Astro.props;

const navItems = [
  { href: '/', label: 'Acasa', id: 'home' },
  { href: '/despre', label: 'Despre', id: 'despre' },
  { href: '/apartamente', label: 'Apartamente', id: 'apartamente' },
  { href: '/blog', label: 'Blog', id: 'blog' },
  { href: '/contact', label: 'Contact', id: 'contact' },
];
---

<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
  <div class="container">
    <div class="d-flex align-items-center d-lg-none">
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarDefault"
        aria-controls="navbarDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a
        href={`tel:${contactConfig.phone}`}
        class="btn btn-b-n navbar-toggle-box ms-2"
        aria-label="Sună acum"
      >
        <i class="bi bi-telephone-fill"></i>
      </a>
    </div>

    <a class="navbar-brand text-brand" href="/">
      Apartamente<span class="color-b">Peris</span>
      <img
        src="/assets/img/ApartamenteGaraPeris-logo.svg"
        alt="Apartamente Gara Peris Logo"
        width="80"
        height="80"
        loading="lazy"
        class="d-none d-lg-inline-block"
      />
    </a>

    <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
      <ul class="navbar-nav">
        {navItems.map((item) => (
          <li class="nav-item">
            <a
              class:list={['nav-link', { active: currentPage === item.id }]}
              href={item.href}
            >
              {item.label}
            </a>
          </li>
        ))}
      </ul>
    </div>

    <a
      href={`tel:${contactConfig.phone}`}
      class="btn btn-b-n navbar-toggle-box d-none d-lg-block"
      aria-label="Sună acum"
    >
      <i class="bi bi-telephone-fill"></i>
    </a>
  </div>
</nav>
